{% extends 'layout.html' %}

{% block title %}
    Listado de artículos
{% endblock title %}

{% block content %}
    <h1 class="title">Listado de artículos</h1>

    <ul style="margin-left: 20px">
        {% for articulo in articulos %}
            <li>
                <h4>id: [{{ articulo.id }}] - title: {{ articulo.title }}</h4>
                <span>{{ articulo.created_at }}</span>
                
                {% if articulo.public %}
                    <strong>Publico</strong>
                {% else %}
                    <strong>Privado</strong>
                {% endif %}

                <p>
                    {{ articulo.content }}
                    <br/>
                    <a href="{% url 'borrar_articulo' id=articulo.id %}">Eliminar</a>
                </p>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}