{% extends 'layout.html' %}

{% block title %}
    Formularios en Django
{% endblock title %}

{% block content %}
    <h1 class="title">Formularios en Django</h1>

    {% if form.errors %}
        <span class="badge badge-danger">Hay errores en el formulario</span>
    {% endif %}

    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock content %}