{% extends 'layout.html' %}

{% block title %}
    Pagina de inicio
{% endblock title %}

{% block content %}
    {{ block.super }}
    <h1 class="title">{{ title }}</h1>

    <br/>

    <p>{{ mi_variable }}</p>

    <br/>

    {% if nombre and nombre == 'Giovanni Vargas' %}
        <p>{{ nombre }}</p>
    {% else %}
        <p><strong>El nombre no existe o no coincide</strong></p>
    {% endif %}

    <br/>

    <h3>Listado de lenguajes de programacion:</h3>
    <ul style="margin-left: 20px">
        {% for lenguaje in lenguajes %}
            <li>{{ forloop.counter }}.{{ lenguaje }}</li>
        {% empty %}
            <p>NO HAY LENGUAJES QUE MOSTRAR</p>
        {% endfor %}
    </ul>

    <br/>

    <p>Anios hasta el 2050:</p> 
{% endblock content %}