{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        <!-- Titulo de cada pagina -->
        {% endblock title %} | Django con Python
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <!-- Cabecera de la pagina -->
    <header>
        <div id="logotipo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h1>Sitio web con Django</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'hola_mundo' %}">Hola mundo</a>
            </li>
            <li>
                <a href="{% url 'pagina' %}">Pagina de pruebas</a>
            </li>
            <li>
                <a href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li>
                <a href="{% url 'articulos' %}">Articulos</a>
            </li>
            <li>
                <a href="{% url 'create' %}">Crear articulo</a>
            </li>
        </ul>
    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content %}
                <!-- Codigo que viene de la template -->
                <strong>Contenido del bloque original!!</strong> 
            {% endblock content %}
        </div>
    </div>

    <footer>
        Master en Python &copy; Giovanni - {% now "d/m/Y h:m:s" %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>